body {
    padding-bottom: 40px;
    background-color: #eee;
    background-image: url('http://cleancanvas.herokuapp.com/img/backgrounds/color-splash.jpg');
    background-size: cover;
    background-repeat:repeat;
    float: left;
    left: 0px;
}
ul{
    width:250px;
    padding:0;
    list-style-type:none;
    margin:0;
}

li{
    padding:15px 20px;
    color:#fff;
    border-bottom: 1px solid black;    
}
li:nth-child(even),#listheader{
    background-color:#0069d9;
}
li:nth-child(odd){
    background-color:#0069d9;
}
#pcbutton{
    vertical-align: middle;    
}
#blockedWordsList
{
    display: none;
}
#listheader{
    color: #fff;
    width:250px;
    padding:15px 20px;
    margin:0;
    border-bottom: 1px solid black;
}
#addtolistbt{
    position: relative;
    top: -4px;
    right: -5px;
}
#pcbutton{
    position: relative;
    right: -15px;
    margin-left: 10px;
}
#inputLine{
    padding-bottom: 0px!important ;
    height:20px;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: green!important;
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    background-color: #C8FFC8; 
}
.timer{
    width: 50px;
}
.header{
    cursor: default;
}
.reverse{/* we give this class to elements we want to flip verticly */
    transform: scaleY(-1);
    -webkit-transform: scaleY(-1) ;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
}
.deleteimgs{
    float:right; 
    height:30px; 
    width:30px;
    text-align: center;
    padding-bottom: 5px;
    padding-left: 3px;
}
